marimo
marimo[sql]
marimo[recommanded]
psycopg
SQLAlchemy
plotly
geopandas
pandas
duckdb
shapely
h3
folium
ipyleaflet
pydeck
pyproj
fiona
numpy
scikit-learn
matplotlib
seaborn
polars
geemap
leafmap
whitebox
